<grow-app-header title="Grow app your potato sales"></grow-app-header>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Potato sales</h5>
        <div class="card-text">See how much people enjoy your potatoes by looking at sales</div>
        <a routerLink="/sales" class="btn btn-primary">See</a>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Potato products</h5>
        <div class="card-text">Add wonderful and delicious potatoes to sell</div>
        <a routerLink="/product" class="btn btn-primary pull-right">Add</a>
      </div>
    </div>
  </div>
</div>
